<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday, Oct. 16th</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank"> Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank"> Continue Shell lesson</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank"> Intro to Programming in Python</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank"> Intro to Programming in Python</a></td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Tuesday, Oct. 17th</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/" target="_blank"> Version Control with Git </a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/git-novice/" target="_blank"> Version Control with Git </a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank"> Data Manipulation in Python</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank"> Plotting in Python</a></td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
